[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nsetools = "*"
bsedata = "*"
pyargon2 = "*"
argon2-cffi = "*"
PyPDF2 = "3.0.1"
PyMuPDF = "*"

[dev-packages]

[requires]
python_version = "3.11"
